<section id="reserva">
    <h2>Haz tu Reserva</h2>
    <div class="reserva-container">
      <div class="image-container">
        <img src="assets/IMAGENES/Reservas.jpg" alt="Imagen de Reserva" class="img-reserva">
      </div>
      <form (ngSubmit)="irbookin(reservaForm)" #reservaForm="ngForm">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="reservassselecionado.nombre" required>
        </div>
        <div class="form-group">
          <label for="fecha">Fecha</label>
          <input type="date" id="fecha" name="fecha" [(ngModel)]="reservassselecionado.fechaReserva" required>
        </div>
        <div class="form-group">
          <label for="total">Número de Personas</label>
          <input type="number" id="total" name="total" [(ngModel)]="reservassselecionado.total" required>
        </div>
        <button type="submit" class="btn-submit">Reservar</button> 
      </form>
    </div>
</section>

