<div class="row justify-content-end">
  <div class="col-lg-1 col-12">
      <button class="btn btn-success" (click)="nuevoproducto()" 
      data-bs-toggle="modal"data-bs-target="#modalproducto">Nuevo</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let us of vectorproductos">
          <th scope="row">{{ us.id }}</th>
          <td>{{ us.nombre }}</td>
          <td>{{ us.precio }}</td>
          <td>{{ us.stock }}</td>
          <td>
            <button
              class="btn btn-warning me-1"data-bs-toggle="modal"data-bs-target="#modalproducto"
              (click)="Editarproducto(us)">Editar</button>
            <button class="btn btn-danger" (click)="EliminarProducto(us)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="modalproducto" #modalproducto
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalproductoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalproducto">
          {{isNew?'Nuevo':'Editar'}} Producto {{this.productoselecionado?.nombre}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-cu-productos [producto]="productoselecionado"></app-cu-productos>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="guardarproducto()">Guardar</button>
      </div>
    </div>
  </div>
</div>
