<div class="container">   
    <h1>TU PEDIDO</h1><br>
    <p>Los artículos en tu pedido van estar preparados. 
        Termina el proceso de compra ahora para poder entregartelos.</p>
    <button class="btn btn-danger" ><i class="bi bi-box-arrow-left"></i>Continuar Comprando</button>
    <div class="container-food">
        <img class="food-image" src="assets/IMAGENES/Hamburguesa 2.png" alt="Hamburguesa">
        <div class="details-container">
          <div class="details-title">Hamburguesa</div>
          <div class="details-info">Carne,Ensalada,Papitas</div>
          <div class="details-info">Refresco: Coca Cola</div>
          <div class="quantity-container">
            <label class="quantity-label">Cantidad:</label>
            <input class="quantity-input" type="number" value="1">
          </div>
          <div class="precio">$30.000,00</div>
          
        </div>
      </div>
      <div class="container-food">
        <img class="food-image" src="assets/IMAGENES/Hamburguesa 3.png" alt="Hamburguesa">
        <div class="details-container">
          <div class="details-title">Hamburguesa</div>
          <div class="details-info">Carne,Ensalada,Tocineta</div>
          <div class="details-info">Refresco: Coca Cola</div>
          <div class="quantity-container">
            <label class="quantity-label">Cantidad:</label>
            <input class="quantity-input" type="number" value="1">
          </div>
          <div class="precio">$25.500,00</div>
          
        </div>
      </div>
      <button class="btn-pagar "><i class="bi bi-credit-card-2-back-fill"></i>PAGAR</button>
</div>

