<section class="productos">
  <h2 class="productos-titulo">Nuestros Productos</h2>

  <!-- Categoría Hamburguesas -->
  <div class="productos-categoria">
    <h3 class="categoria-titulo">🍔 Hamburguesas</h3>
    <div class="productos-grid">
      <div class="producto-card" *ngFor="let h of hamburguesas">
        <img src="/assets/IMAGENES/{{h.image}}" alt="{{h.nombre}}" class="producto-img" />
        <h3 class="producto-nombre">{{h.nombre}}</h3>
        <p class="producto-precio">💲{{h.precio}}</p>
        <button class="producto-boton" (click)="addCart(h)">🛒 Agregar</button>
      </div>
    </div>
  </div>

  <!-- Categoría Perros -->
  <div class="productos-categoria">
    <h3 class="categoria-titulo">🌭 Perros Calientes</h3>
    <div class="productos-grid">
      <div class="producto-card" *ngFor="let p of perros">
        <img src="/assets/IMAGENES/{{p.image}}" alt="{{p.nombre}}" class="producto-img" />
        <h3 class="producto-nombre">{{p.nombre}}</h3>
        <p class="producto-precio">💲{{p.precio}}</p>
       <button class="producto-boton" (click)="addCart(p)" >🛒 Agregar </button>
      </div>
       </div>
</div>
    

  <!-- Categoría Bebidas -->
  <div class="productos-categoria">
    <h3 class="categoria-titulo">🥤Bebidas</h3>
    <div class="productos-grid">
      <div class="producto-card" *ngFor="let b of bebidas">
        <img src="/assets/IMAGENES/{{b.image}}" alt="{{b.nombre}}" class="producto-img" />
        <h3 class="producto-nombre"> {{b.nombre}}</h3>
        <p class="producto-precio">💲{{b.precio}}</p>
       <button class="producto-boton" (click)="addCart(b)">🛒 Agregar</button>
      </div>
    </div>
  </div>
</section>


  
