
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background-color: #0d0d0d;
  color: #fff;
}

/* Header */
.encabezado {
  background-color: #1e1e1e;
  padding: 10px;
}

.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 120px;
}

.titulo {
  font-size: 2rem;
  text-shadow: 2px 2px 5px black;
}

.rojo {
  color: red;
  font-weight: bold;
}

.amarillo {
  color: yellow;
  font-weight: bold;
}

.botones {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.boton {
  background: transparent;
  border: 2px solid yellow;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.Boton_Inicio,
.Boton_cart {
  max-width: 100%;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #cccccc;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  font-family: "Segoe UI", sans-serif;
}

.Boton_Inicio:hover,
.Boton_cart:hover {
  background-color: #f0f0f0;
  color: #000000;
  border-color: #999999;
}

/* Menú fijo */
.barra-navegacion {
  position: sticky;
  top: 0;
  background-color: #532c2c;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}

.menu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 40px;
  flex-wrap: wrap;
}

.menu li {
  position: relative;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  transition: background 0.3s ease;
}

.menu a:hover {
  background-color: #a86d6d;
  border-radius: 5px;
}

/* Buscador */
.formulario-busqueda input {
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1em;
}
