<header class="encabezado">
  <div class="contenedor-header">
    <img class="logo" src="/assets/IMAGENES/Logo.png" alt="Logo del negocio" />
    <h1 class="titulo">
      <span class="rojo">PERRITOS</span>
      <span class="amarillo">CALLEJEROS</span>
    </h1>
    <div class="botones">
      <button class="Boton_Inicio" (click)="irlogin()"> 
        <i class="bi bi-person-fill-add"></i> Iniciar Sesión
      </button>
      <button class="Boton_cart" (click)="ircart()">
        <span class="texto-cart"><i class="bi bi-cart-check-fill">Carrito</i></span>
      </button>
    </div>
  </div>
</header>

<nav class="barra-navegacion">
  <ul class="menu">
    <li><a  (click)="home()"><b>INICIO</b></a></li>
      <li class="menu-item">
        <a (click)="articulo()"><b>PRODUCTOS</b></a>
      

    </li>
    
    <li> <a (click)="reservacion()"><b>RESERVAS</b></a></li>      
    <li>
      <form class="formulario-busqueda">
        <input type="text" placeholder="Buscar..." />
      </form>
    </li>
  </ul>
</nav>