<header class="Encabezado">
  <div class="logo-titulo">
    <img class="logo" src="/assets/IMAGENES/Logo.png" alt="Logo" />
    
    <div class="botones-container">
    <button class="Boton_Inicio" (click)="irlogin()">         
          <span class="texto-iniciar-sesion"><i class="bi bi-person-fill-add">Iniciar Sesion</i></span>
      </button> 
      <button class="Boton_cart" (click)="ircarrito()">
        <span class="texto-cart"><i class="bi bi-cart-check-fill">Carrito</i></span>        
      </button>
    </div>
    <h1 class="titulo">
      <span class="rojo">PERRITOS</span>
      <span class="amarillo">CALLEJEROS</span><br />
    </h1>
    <br />
    <ul class="MENU">
      <li><a  (click)="home()"><b>INICIO</b></a></li>
      <li class="menu-item">
        <a (click)="articulo()"><b>PRODUCTOS</b></a>
        <ul class="submenu">
          <li><a href="#">Hamburguesas</a></li>
          <li><a href="#">Perros</a></li>
        </ul>
      </li>
      <!-- <li><a href="#"><b>NOVEDADES</b></a></li> -->
      <li> <a (click)="reservacion()"><b>RESERVAS</b></a></li>      
      <li>
        <form class="formulario">
          <div class="buscar">
            <input type="text" id="buscar" name="buscar" placeholder="BUSCAR" />
          </div>
        </form>
      </li>
    </ul>
  </div>
</header>
