<div class="row justify-content-end">
  <div class="col-lg-1 col-12">
      <button class="btn btn-success" 
      (click)="nuevareserva()" data-bs-toggle="modal"data-bs-target="#modalreserva">
      <i class="bi bi-patch-plus-fill"></i>Agregar</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha Reserva</th>
          <th scope="col">Total de personas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let us of Vectorreservas">
          <th scope="row">{{ us.id }}</th>
          <td>{{ us.nombre }}</td>
          <td>{{ us.fechaReserva | date: 'dd/MM/YYYY HH:mm'}}</td>
          <td>{{ us.total }}</td>
          <td>
            <button
              class="btn btn-warning me-1" data-bs-toggle="modal" data-bs-target="#modalreserva"
              (click)="Editarreserva(us)"><i class="bi bi-pencil-square"></i>Editar</button>
            <button class="btn btn-danger" (click)="EliminarReserva(us)"><i class="bi bi-trash-fill"></i>Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalreserva" #modalreserva 
  data bs-backdrop="static" 
  data-bs-keyboard="false"
  tabindex="-1" 
  aria-labelledby="modalreservaLabel" 
  aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalreservaLabel">
          {{isNew?'Nueva':'Editar'}} Reserva {{this.reservassselecionado?.nombre}}</h1>
        <button type="button"class="btn-close"data-bs-dismiss="modal"aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-cu-reservas [reserva]="reservassselecionado"></app-cu-reservas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="guadarreserva()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<button type="button" class="btn btn-primary" (click)="mostrarToast()">Show live toast</button>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div #liveToast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">PerritosCallejeros</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      ¡Reserva guardada exitosamente!
    </div>
  </div>
</div>