<footer class="pie">
  <div class="contenido-pie">
    <div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">
        <img src="/assets/IMAGENES/Logo_Facebook.png" alt="Facebook" />
      </a>
      <a href="https://www.tiktok.com" target="_blank">
        <img src="/assets/IMAGENES/Logo_tiktok.png" alt="TikTok" />
      </a>
      <a href="https://instagram.com" target="_blank">
        <img src="/assets/IMAGENES/Logo_Instagram.png" alt="Instagram" />
      </a>
    </div>

    <div class="info-adicional">
      <p>
        <br>
        <a href="#contacto">Contáctanos</a> |
        <a href="#terminos">Términos y Condiciones</a> |
        <a
          href="https://www.mintic.gov.co/portal/inicio/Secciones-auxiliares/Politicas/2627:Politicas-de-Privacidad-y-Condiciones-de-Uso"
          target="_blank"
          >Políticas de Privacidad</a
        >
      </p>
    </div>
  </div>
</footer>
<div class="copyright">
  <p>
    &copy; 2025 Perritos Callejeros Food y Delivery. Todos los derechos
    reservados.
  </p>
</div>
