<section>
    <div class="Cuerpo">   
        <div class="producto">
            <img class="Hambuguesa_Home" src="/assets/IMAGENES/HamburguesaHOME.png" alt="Hamburguesa">
            <div class="informacion">
                <p>Deliciosa hamburguesa con carne de res, queso cheddar, y vegetales frescos. Perfecta para cualquier antojo</p>
                <a routerLink="/productos/articulo">
                    <button class="boton-compra">Comprar Ahora</button>
                  </a>
            </div>
        </div>
        
        <div class="producto">
            <img class="Perro_Home" src="/assets/IMAGENES/Perro Home.jpg" alt="Perro Caliente">
            <div class="informacion">
                <p>Perro caliente con salchicha artesanal, cebolla crujiente y salsas especiales.!Pruebalo hoy!</p>
                <a routerLink="/productos/articulo">
                    <button class="boton-compra">Comprar Ahora</button>
                  </a>
                
            </div>
        </div>
    
        <div class="producto">
            <img class="Papitas_Home" src="/assets/IMAGENES/Papas Home.jpg" alt="Papas Francesas">
            <div class="informacion">
                <p>Crujientes por fuera y suaves por dentro, Nuestras papas fritas son el acompañmiento perfecto. Perfectas para compartir</p>
                <a routerLink="/reservas/reservacion">
                    <button class="boton-compra">Reservar</button>
                  </a>
            </div>
        </div>
    </div>
    
    <div class="promocion">
        ¡Aprovecha nuestra promoción! <br>
        <span class="promocion-texto">2x1 en hamburguesas todos los Miercoles</span>
    </div>
    <br> <br>
    
    <div class="Mapa">
        <br><br>

        <h2 class="titulo-ubicacion">Ubicación</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d350.6151818635466!2d-75.61805401638583!3d6.163160636034552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNsKwMDknNDcuNCJOIDc1wrAzNycwNC42Ilc!5e0!3m2!1ses-419!2sco!4v1728760235072!5m2!1ses-419!2sco"></iframe>
    
    </div>
    </section>